<div data-spy="scroll" data-target="#navigate" data-offset="0"  class="container">
  <div class="row">
    <div class="col-12">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div data-spy="scroll" data-target="#navigate" data-offset="0" class="row" id="home">
    <div class="col-12">
      <div class="jumbotron jumbotron-fluid banner">
        <div class="container">
          <div class="row">
            <div class="col-7">
              <h2 class="display-4 text-white">Su aliado tecnologico</h2>
            </div>
            <div class="col-5 d-none d-lg-block p-4 form">
              <div class="card">
                <div class="card-body">
                  <div class="mb-3">
                    <label for="exampleFormControlInput" class="form-label"
                      >Nombre</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleControlInput"
                      placeholder="Nombre"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput" class="form-label"
                      >Apellido</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleControlInput"
                      placeholder="Apellido"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput" class="form-label"
                      >Movil</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="exampleControlInput"
                      placeholder="(+57) 333333333"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput" class="form-label"
                      >Email</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="exampleControlInput"
                      placeholder="ejemplo@ejemplo.com"
                    />
                    <br>
                    <button class="btn btn-outline-success">Sign Up</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-spy="scroll" data-target="#navigate" data-offset="0" class="row" id="whoUs">
    <div class="col-12">
      <div class="jumbotron">
        <div class="title">
          <h1>¿Quienes Somos?</h1>
          <hr/>
        </div>
        <div class="container">
          <p class="lead">Somos una empresa enfocada en el crecimiento de medianas y grandes empresas,
            brindando nuestros servicios en la nube ayudando a mas empresas y proveedores a sacar adelante su emprendimiento con ayuda de nuestros aliados tecnologicos.</p>
          <strong>Recuerda preguntar por nuestro bono de bienvenida para nuevos aliados.</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <div>
            <img src="../assets/img/mapa.png" width="100%" alt="">
          </div>
        </div>
        <div class="col-6 info">
          <h3 class="title">Cloud Services</h3>
          <p>Nuestra nube te ayudara a mantener tus productos y servicios siempre en funcionamientos las 24/7, 
            permitiendote acceder a tu inventario desde cualquier parte del mundo y lo mejor <strong>Sin pagar de más.</strong>
          </p>
          <br>
          <div class="start">
            <input type="button" class="btn btn-outline-primary" value="Comencemos">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
  </div>
  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="col-6" style="margin-top: 35pt">
          <div class="title">
            <h3>Envios nacionales <strong>Sin Costo</strong></h3>
          </div>
          <p class="sent">En <b>Techno Corp.</b> enviamos los productos del segmento <b>Empresas</b> sin ningun costo a nivel nacional.</p>
          <p class="sent"><span>Aplica solo para mas 20 productos por envio.</span></p>
          <div class="start">
            <input type="button" class="btn btn-outline-primary" value="No lo piences más">
          </div>
        </div>
        <div class="col-6">
          <div>
            <img src="../assets/img/sents.jpg" width=100% height=250 alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <hr>
  </div>
  <div class="container contactUs" id="contact">
    <div class="col-12"></div>
    <br>
    <h1>Contactanos</h1>
    <div class="container">
      <div class="col-12 p-5">
        <div class="card">
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleFormControlInput" class="form-label"
                >Nombre</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleControlInput"
                placeholder="Nombre"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput" class="form-label"
                >Apellido</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleControlInput"
                placeholder="Apellido"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput" class="form-label"
                >Movil</label
              >
              <input
                type="number"
                class="form-control"
                id="exampleControlInput"
                placeholder="(+57) 333333333"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput" class="form-label"
                >Email</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleControlInput"
                placeholder="ejemplo@ejemplo.com"
              />
              <br>
              <button class="btn btn-outline-success">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>